### Target: Get weather data from all countries around the world

In [1]:
import requests as rq
import pandas as pd

In [7]:
# input
city = ['Lisboa', 'Tulum', 'Reykjavik', 'Tromso', 'Barcelona']

api_key = 'xxx'

In [10]:
# create dataframe
df = pd.DataFrame({
                'City': pd.Series(dtype='str'), 
                'Temp_Min': pd.Series(dtype='float'), 
                'Temp_Max': pd.Series(dtype='float')
                })
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   City      0 non-null      object
 1   Temp_Min  0 non-null      float64
 2   Temp_Max  0 non-null      float64
dtypes: float64(2), object(1)
memory usage: 0.0+ bytes

In [11]:
## loop over all cities in dataframe to access min and max temperature from json file and save it as new row in dataframe.
for c in city:
    response = rq.get(f"http://api.openweathermap.org/geo/1.0/direct?q={c}&appid={api_key}")
    lat = response.json()[0]['lat']
    lon = response.json()[0]['lon']
    temp_min = rq.get(f"https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={api_key}").json()['main']['temp_min']-273.15
    temp_max = rq.get(f"https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={api_key}").json()['main']['temp_max']-273.15
    
    df.loc[len(df)] = [c,temp_min,temp_max]
               
print(df.sort_values('Temp_Max', ascending = False))

        City  Temp_Min  Temp_Max
1      Tulum     22.33     22.33
4  Barcelona      6.84     14.64
0     Lisboa     10.90     14.47
2  Reykjavik      1.12      2.21
3     Tromso     -3.05     -1.51

In [14]:
df_max = df.query('Temp_Max==Temp_Max.max()')
df_max

    City  Temp_Min  Temp_Max
1  Tulum     22.33     22.33

In [18]:
print(f'Why don\'t you travel to {df_max["City"][1]}?\nThe temperature there is between {round(df_max["Temp_Min"][1],1)} and {round(df_max["Temp_Max"][1],1)} degrees.')

Why don't you travel to Tulum?
The temperature there is between 22.3 and 22.3 degrees.